---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Page d'accueil";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Mon sous-titre de blog génial</h2>

  {/* Cet îlot est interactif grâce à client:load */}
  <Greeting client:load messages={["Salut", "Bonjour", "Coucou", "Bienvenue", "Habari"]} />
</BaseLayout>
